{% load static wagtailembeds_tags wagtailimages_tags %}

{% if carousel_items %}
  <div id="Carousel" class="carousel slide" data-ride="carousel">
    {% if carousel_items|length > 1 %}
      <ol class="carousel-indicators">
        {% for carousel_item in carousel_items %}
          <li data-target="#Carousel" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>
    {% endif %}
    <div class="carousel-inner">
      {% for carousel_item in carousel_items %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">
          {% if carousel_item.embed_url %}
            {# Embedded video - requires an embedly key to be stored in wagtaildemo/settings/local.py #}
            <div class="">
              {% embed carousel_item.embed_url 1000 %}
            </div>
          {% else %}
            {# Carousel image - first store image as a variable in order to construct an image tag with a title applied (title is used by bxslider js to construct the caption) #}
            {% image carousel_item.image width-1000 as carouselimagedata %}
            <img src="{{ carouselimagedata.url }}" alt="{{ carouselimagedata.alt }}">
          {% endif %}
          {% if carousel_item.caption or carousel_item.link %}
            <div class="container">
              <div class="carousel-caption">
                {% if carousel_item.caption %}
                  <h1>{{ carousel_item.caption }}</h1>
                {% endif %}
                {% if carousel_item.link %}
                  <p><a class="btn btn-lg btn-primary" href="{{ carousel_item.link }}" role="button">Open</a></p>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if carousel_items|length > 1 %}
      <a class="carousel-control-prev" href="#Carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#Carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    {% endif %}
  </div>
{% endif %}
