{% load static wagtailcore_tags yuan %}

{% get_language_root as language_root %}

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="{% pageurl language_root  %}">
    <img src="{% static 'yuan/assets/img/logo.svg' %}" width="30" height="30" alt="">
    Yuan
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {% top_menu parent=language_root calling_page=self %}
    </ul>
    <div class="dropdown-divider"></div>
    <ul class="navbar-nav ml-auto">
      {% language_menu calling_page=self %}
    </ul>
  </div>
</nav>
