__pycache__/
__init__.py

/static/
/media/
/yuan/static/yuan/assets/css/bootstrap
/yuan/static/yuan/assets/js/bootstrap.min.js
/yuan/static/yuan/assets/js/jquery.slim.min.js
/yuan/static/yuan/assets/js/popper.min.js
/yuan/static/yuan/assets/js/holder.min.js

db.sqlite3
.gitignore
