__pycache__/
__init__.py

/static/
/media/
/theme/static/theme/assets/css/bootstrap
/theme/static/theme/assets/js/bootstrap.min.js
/theme/static/theme/assets/js/jquery.slim.min.js
/theme/static/theme/assets/js/popper.min.js
/theme/static/theme/assets/js/holder.min.js

db.sqlite3
.gitignore
