{% load static wagtailuserbar %}

<!doctype html>
<html lang="{{ self.get_language }}">
  <head>
    {% block head %}
      {% include "yuan/includes/head.html" %}
    {% endblock head %}

    {% block css %}
      {% include "yuan/includes/css.html" %}
    {% endblock css %}
  </head>

  <body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
    {% block nav %}
      {% include "yuan/includes/nav.html" %}
    {% endblock nav %}

    {% block main %}
      {% include "yuan/includes/main.html" %}
    {% endblock main %}

    {% block footer %}
      {% include "yuan/includes/footer.html" %}
    {% endblock footer %}

    {% block js %}
      {% include "yuan/includes/js.html" %}
    {% endblock js %}
  </body>
</html>
